body {
    background: #00008B;
}

/* .squad-member {
    display: none;
    margin-bottom: 10px;
}

.filter-menu {
    margin-bottom: 20px;
}

.filter-btn {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
}

.filter-btn:hover {
    background-color: #0056b3;
} */

/* img {
    width: 400px;
    height: 400px;
} */